<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/administrators">Administrators</a>
  <a href="/patients">Patients</a>
  <a href="/doctors">Doctors</a>
  <a href="/ailments">Ailments</a>
  <a href="/facilities">Facilities</a>
  <a href="/sign_in">Sign-In</a>
</div>

<h1> Administrator Index </h1>

<ul>
    <% @administrators.each do |a|%>
        <% a.facilities.each do | facility | %>
        <li>
            <h3><%= link_to a.name, administrator_path(a)%></h3>
            <h4>Username: <%= a.user_name%></h4>
            <h4>Status: <%=a.status%></h4>
            <h4>Facility: <%= link_to facility.name, facility_path(facility) %></h4>
            <hr>
        </li>
        <% # button_to "Create Admin", {:controller => :administrators, :action => 'new'}, :method => :get %> 
        <% end %>                  
    <%end%>
</ul>

<style>
ul {
    list-style-type: none;
}

h1{
    padding-left: 25px;
}

body {
    text-align: center;
    background-image: url('https://motionarray.imgix.net/preview-145191-azfd2K96bO-high_0000.jpg?w=660&q=60&fit=max&auto=format');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

div {
    display: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
    width: 100%;
    opacity: 70%;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:last-child {
    float: right;
    margin-right: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: blue;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: purple;
}
</style>