<h1> Administrator Index </h1>

<ul>
    <% @administrators.each do |a|%>
        <li>
            <h3><%= link_to a.name, administrator_path(a)%></h3>
            <hr>
            <h4>Username: <%= a.user_name%></h4>
            <h4>Status: <%=a.status%></h4>
            <h4>Facility: <%= link_to a.facility.name, facility_path(a.facility) %></h4>
        </li>
        <% # button_to "Create Admin", {:controller => :administrators, :action => 'new'}, :method => :get %>                   
    <%end%>
</ul>